<!DOCTYPE html>
<html>
    <%- include ('partials/header.ejs'); %>   
    <%- include ('partials/navbar.ejs'); %>
    <body>

        <div class="container">
            
            <hr>
            <h2>Perguntas</h2>
            <hr>
            <a class="btn btn-primary" href="/perguntar">Perguntar</a>
            <hr>
            <% perguntas.forEach(perguntas => {%>
            <br>
            <div class ="card">
                <div class = "card-header">

                    <h3><%= perguntas.titulo %></h3>
                </div>
                <div class ="card-footer">
                    <a href="/pergunta/<%= perguntas.id %>"> <button class ="btn btn-primary" >Responder</button> </a>
                </div>
                <hr>
            </div>

            <% }) %>    

        </div>


    </body>

    <%- include ('partials/footer.ejs'); %>
    </html>