<!DOCTYPE html>
<html>
    <%- include ('partials/header.ejs'); %>   
    <%- include ('partials/navbar.ejs'); %>
    <body>
        <div class="container">
          <h1><%= pergunta.titulo %> </h1>
          <p> <%= pergunta.desc %></p>


        </div>


    </body>

    <%- include ('partials/footer.ejs'); %>
    </html>